@import url("https://fonts.googleapis.com/css?family=Covered+By+Your+Grace");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline
}

html {
  line-height: 1
}

ol, ul {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

q, blockquote {
  quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none
}

a img {
  border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

@-webkit-keyframes drift {
  from, to {
    -moz-transform: translateY(-12.5%);
    -ms-transform: translateY(-12.5%);
    -webkit-transform: translateY(-12.5%);
    transform: translateY(-12.5%)
  }
  25% {
    -moz-transform: translateY(12.5%);
    -ms-transform: translateY(12.5%);
    -webkit-transform: translateY(12.5%);
    transform: translateY(12.5%)
  }
  50% {
    -moz-transform: translateY(-12.5%);
    -ms-transform: translateY(-12.5%);
    -webkit-transform: translateY(-12.5%);
    transform: translateY(-12.5%)
  }
  75% {
    -moz-transform: translateY(12.5%);
    -ms-transform: translateY(12.5%);
    -webkit-transform: translateY(12.5%);
    transform: translateY(12.5%)
  }
}

div#container {
  background-image: url("fyadbg.gif");
  background-attachment: fixed;
  background-size: cover
}

div#thread {
  background-color: rgba(1, 1, 1, 0)
}

div#flag_container {
  -moz-animation: drift 25s linear infinite;
  -webkit-animation: drift 25s linear infinite;
  animation: drift 25s linear infinite
}

div#container div#content div.threadbar.top, div#container div#content div.threadbar.bottom, #forum, #forumth {
  box-shadow: none !important;
  border: 0px !important;
  background: rgba(1, 1, 1, 0) !important
}

img[alt~="Bookmark"] {
  content: url("bookmark.png")
}

ul.postbuttons img[alt~="Post"] {
  content: url("post.png")
}

ul.postbuttons img[alt~="Reply"] {
  content: url("reply.png")
}

.altcolor2, tr.altcolor2 td {
  background-color: rgba(252, 229, 174, 0.7) !important;
  border: 1px transparent !important
}

.altcolor2 td.postbody:first-of-type, tr.altcolor2 td td.postbody:first-of-type {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0
}

.altcolor2 td.postlinks:last-of-type, tr.altcolor2 td td.postlinks:last-of-type {
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 0
}

.altcolor2 td.postdate, tr.altcolor2 td td.postdate {
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 10px;
  font-size: 1.1em !important;
  color: #819090;
  padding-left: 4%;
  padding-right: 4%
}

.altcolor1, tr.altcolor1 td {
  background-color: rgba(192, 219, 244, 0.75) !important;
  border: 1px transparent !important
}

.altcolor1 td.postbody:first-of-type, tr.altcolor1 td td.postbody:first-of-type {
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 0 0
}

.altcolor1 td.postlinks:last-of-type, tr.altcolor1 td td.postlinks:last-of-type {
  -moz-border-radius: 0 0 10px 0;
  -webkit-border-radius: 0;
  border-radius: 0 0 10px 0
}

#thread table.post td.postdate a {
  font-size: .8rem;
  border: none !important;
  background: none !important;
  box-shadow: none;
  color: #819090 !important
}

#thread table.post td.postdate a:first-of-type {
  padding-left: 1.4rem
}

#thread table.post td.postdate {
  -moz-border-radius: 0 0 0 10px;
  -webkit-border-radius: 0;
  border-radius: 0 0 0 10px;
  font-size: .8rem !important;
  padding: 0 0 .5em 0;
  color: #819090 !important
}

tr td.postlinks ul.profilelinks li a {
  font-size: .8rem !important;
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  color: #819090 !important
}

#thread td.postlinks ul.postbuttons img[alt*="Alert"] {
  display: none
}

ul.postbuttons img[alt~="Quote"] {
  content: url("quote.png");
  box-shadow: none !important;
  padding-right: 1em
}

dd img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px
}

div#thread dl.userinfo dt.author {
  font-size: 1.2em;
  color: #475B62 !important
}

div#thread dl.userinfo dt.platinum {
  background: url("plat.png")
}

table.post {
  border: none !important
}

span.online_users a {
  color: white !important;
  text-decoration: none;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7
}

table#main_full.standard thead tr th, table#main_full.standard tbody tr td {
  background-color: rgba(192, 219, 244, 0.75) !important;
  border: 1px transparent !important;
  color: white
}

div#content div.breadcrumbs a.bclast {
  font-family: "Covered By Your Grace", cursive;
  color: white;
  font-size: 30pt;
  font-weight: 200;
  display: block;
  margin-right: auto;
  text-align: center;
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  max-width: 80%
}

#subforums, table#subforums tr.subforum td, #subforums a {
  background: rgba(1, 1, 1, 0) !important;
  border: none !important;
  color: #819090 !important
}

div#filter {
  background: rgba(204, 204, 255, 0.5);
  border: none !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: none !important;
  margin-bottom: 1%;
  margin-top: -2%
}

div#filter .toggle_tags {
  background: transparent !important;
  border: none !important;
  color: #475B62 !important
}

table#forum th, div#content div.forumbar {
  background: none !important;
  border: none !important;
  box-shadow: none !important
}

#forum tr td.title, #forum tr td.star, #forum tr td.replies, #forum tr td.rating {
  background-color: rgba(192, 219, 244, 0.85) !important;
  border: 1px transparent !important;
  box-shadow: 1px 1px #819090 !important
}

table#forum tr td.icon, table#forum tr td.author, table#forum tr td.views, table#forum tr td.lastpost {
  background-color: rgba(252, 229, 174, 0.8) !important;
  border: 1px transparent !important;
  box-shadow: 1px 1px #819090 !important
}

div.title_pages, a.thread_title, table#forum td.author, #forum td.author a, #forum td.replies a, #forum td.views, #forum td.lastpost a, .date, a.pagenumber {
  color: #475B62 !important;
  text-decoration: none !important;
  border: none
}

div.title_pages a:hover {
  border: 1px transparent !important;
  background-color: white !important;
  box-shadow: 1px !important;
  -moz-transition: 1s, ease-in;
  -o-transition: 1s, ease-in;
  -webkit-transition: 1s, ease-in;
  transition: 1s, ease-in
}

.forum_26 td.title div.lastseen, .forum_26 #forum td.title div.lastseen a.x {
  background: #d2d8d8
}
