body {
	background: #000 url(https://i.somethingawful.com/css/fyad/relatablefall/background.jpg)!important;
	background-attachment: fixed!important;
	background-size: cover!important;
	text-shadow: 1px -3px 30px rgba(255,217,213,1)
}

body#something_awful.forum_26 .navigation,body#something_awful.forum_26 #nav_purchase {
	box-shadow: 0 0 0 #000;
	background: rgba(0,0,0,0.6)!important;
	border: 0 solid #ff9180
}

body#something_awful.forum_26 #nav_purchase {
	background: rgba(0,0,0,0.6)!important
}

body#something_awful.forum_26 div.threadbar.top,body#something_awful.forum_26 div.threadbar.bottom {
	box-shadow: none!important;
	border-color: #e38314 !important;
}

#nav_purchase {
	color: #fff
}

#navigation {
	color: #000
}

a {
	color: #000
}

a:hover {
	color: #FF9180
}

#subforums tr.subforum td.title a {
	color: #ddd
}

body,a:visited {
	color: #473041
}

a:active {
	color: #B07B31
}

#notregistered,#searchboxes {
	background: none
}

#forum,table {
	clear: left
}

#forum th,#forum th a,div.threadbar,div.forumbar {
	color: #fff
}

#thread div.quote {
	border-color: #aaa
}

#forum th,div.threadbar,div.forumbar {
	background: rgba(0,0,0,0.6)
}

#forum td.icon,#forum td.author,#forum td.views,#forum td.lastpost,#thread li.post,#subforums td.topics,#forum td.votes,#forum.asktell td.icon2 {
	background: rgba(0,0,0,0.6)!important
}

#thread li.post.even,#subforums,#subforums td,#forum,#forum td,#filter,table#thread tr.even td,#forum.asktell td.icon,#thread.review td {
	background: rgba(0,0,0,0.6)!important
}

div.threadbar,#subforums,#subforums td,#forum,#forum td,#filter {
	border: 1px solid #033
}

#thread td.postbody {
	border-top: 2px solid #033
}

#subforums {
	clear: left
}

#thread dl.userinfo dt.author {
	color: #f66
}

#thread dd.registered {
	color: #060!important
}

#flag {
	margin-bottom: 1em
}

#forum th {
	padding: 2px 3px
}

table.funbox,table.funbox td {
	font: normal normal normal 13px Verdana,Arial,sans-serif;
	border: none!important
}

#thread div.title {
	font: normal normal normal 10px Verdana,Arial,sans-serif;
	margin-top: 1em
}

#thread div.title * {
	text-align: left
}

p.signature {
	border: 0
}

.funbox {
	margin-left: 80px
}

tr.altcolor1 td {
	background-color: #fcf
}

tr.altcolor2 td {
	background: rgba(0,0,0,0.6)!important
}

table.standard {
	background: #000;
	border: 1px #000 solid
}

table.standard td {
	border: 1px #000 solid
}

.standard h2,table.standard th {
	background: #DF868A;
	color: #fff;
	border: 0
}

table.standard td {
	background: #fcf
}

table.standard tr td.altcolor1 {
	background: rgba(0,0,0,0.6)!important
}

table.standard tr td.altcolor2 {
	background: rgba(0,0,0,0.6)!important
}

.altcolor1,tr.altcolor1 td,td.altcolor1 {
	background: rgba(0,0,0,0.6)!important
}

.altcolor2,tr.altcolor2 td,td.altcolor2 {
	background: rgba(0,0,0,0.6)!important
}

.postbody table.funbox tr td.complete_shit {
	background: #fff
}

div#flag_container {
	clear: both;
	height: 100px;
	width: 490px;
	margin: 0 auto;
	border: 1px #000 solid
}

div#flag_container {
	background-color: #000;
	background-image: url(https://i.somethingawful.com/css/fyad/relatablefall/flagbg.png)
}

div#flag_container img {
	margin: 0 119px;
	border: 0 #000 solid;
	border-width: 0 1px
}

td.postdate {
	width: 168px
}

#thread.review td {
	border-color: #999
}

#thread.review td {
	background: none
}

#thread.review dl {
	min-height: 60px
}

#thread.review tr td.userinfo,#thread.review td.postdate {
	display: table-cell
}

.bbc-center {
	text-align: left
}

body,a {
	color: #011
}

#content a {
	color: #066
}

#content div.pages .curpage {
	color: #222
}

#content div#mp_bar a,#content div.pages a,#content div.breadcrumbs a,#content div.breadcrumbs a:visited {
	color: #ddd
}

#content div.breadcrumbs a.bclast,#content div.pages a {
	border-color: #555
}

div.funbox {
	width: auto;
	float: left;
	clear: both;
	background-color: #fff;
	margin-left: 80px;
	margin-bottom: 10px;
	-moz-border-radius: 24px;
	border: 1px #000 solid;
	border-radius: 24px;
	padding: 16px 24px;
	position: relative;
	min-width: 40px
}

div.funbox .tail {
	background-repeat: no-repeat;
	background-image: url(https://i.somethingawful.com/images/funbox-9-bottom-arrow.gif);
	background-position: 0 0;
	position: absolute;
	bottom: -16px;
	left: 24px;
	width: 27px;
	height: 31px
}

div.userinfo {
	clear: left
}

td.postdate {
	white-space: nowrap
}

td.postlinks {
}

* {
	text-shadow: none!important
}

body {
	background-color: #f99)
}

a:hover {
	color: #600
}

a:active {
	color: #f09
}

#notregistered,#searchboxes {
	background: none
}

#forum th,#forum th a,div.threadbar,div.forumbar {
	color: #fff;
	box-shadow: none!important;
	border-color: #e38314!important
}

#thread div.quote {
	border-color: #aaa
}

div.threadbar,#subforums,#forum,#forum td,#filter,#forum.threadlist tbody tr td:first-child,#thread table.post,#subforums tr.subforum td {
	border-color: #e38314!important
}

a td.postdate {
	background-color: transparent
}

th,div.threadbar,div.forumbar {
	background: rgba(0,0,0,0.6)!important
}

div.threadbar,#subforums {
	border-top-style: solid!important;
	border-right-style: solid!important;
	border-bottom-style: none!important;
	border-left-style: none!important;
	border-width: 1px!important;
	border-color: #e38314!important!
}

#forum {
	border-top-style: solid!important;
	border-right-style: none!important;
	border-bottom-style: none!important;
	border-left-style: solid!important;
	border-width: 1px!important;
	border-color: #e38314!important
}

#filter {
	border-width: 0!important;
	box-shadow: none!important
}

#forum th a {
	background: rgba(0,0,0,0.6)!important
}

body#something_awful.forum_26 #content div.pages a {
	background: #dc7883;
	color: #fff
}

#forum td {
	border-top-style: solid!important;
	border-right-style: solid!important;
	border-bottom-style: none!important;
	border-left-style: none!important;
	border-width: 1px!important;
	border-color: #e38314!important
}

#thread td.postbody {
	border-top: none!important
}

#thread dl.userinfo dt.author {
	color: #e38314!important
}

#thread dd.registered {
	color: #060!important
}

#flag {
	margin-bottom: 1em
}

#forum th {
	padding: 2px 3px
}

table.funbox,table.funbox td {
	font: normal normal normal 13px Verdana,Arial,sans-serif;
	border: none!important
}

#thread div.title {
	font: normal normal normal 10px Verdana,Arial,sans-serif;
	margin-top: 1em
}

p.signature {
	border: 0
}

td.postlinks ul.profilelinks li a {
	background: transparent!important
}

.funbox {
	margin-left: 80px
}

table.standard {
	background: #000;
	border: 1px #000 solid
}

table.standard td {
	border: 1px #000 solid;
	background: #fcf
}

td.postdate a {
	background: transparent!important
}

#forum td.replies {
	text-align: center!important;
	font: normal normal normal 13px Verdana,Arial,sans-serif!important;
	text-decoration: underline!important
}

#forum td.views {
	text-align: center!important;
	color: #ddd!important
}

#forum td.author {
	font: normal normal normal 13px Verdana,Arial,sans-serif!important;
	text-decoration: underline!important
}

#subforums {
	color: #ddd!important
}

#subforums td {
	border: 1px #ddd solid!important
}

.standard h2,table.standard th {
	background: #DF868A;
	color: #FFF;
	border: 0
}

.postbody table.funbox tr td.complete_shit {
	background: #FFF
}

div#flag_container {
	clear: both;
	height: 100px;
	width: 490px;
	border: 1px #000 solid;
	background-color: #000;
	background-image: url(http://fi.somethingawful.com/fyad/flag-bg.gif) margin:0 auto
}

div#flag_container img {
	border: 0 #000 solid;
	border-width: 0 1px;
	margin: 0 119px
}

#subforums tr.subforum td {
	border-color: #e38314!important
}

td.user_loggedin a {
	border: 0
}

td.postdate {
	width: 168px;
	white-space: nowrap
}

#thread.review td {
	background: none;
	border-color: #999
}

#thread.review dl {
	min-height: 60px
}

#thread.review tr td.userinfo,#thread.review td.postdate {
	display: table-cell
}

body,a {
	color: #011
}

#content div.pages .curpage {
	color: #222
}

#content div.breadcrumbs a.bclast,#content div.pages a {
	border-color: #555
}

body#something_awful.forum_26 #content div.pages a,body#something_awful.forum_26 #content div.breadcrumbs a.index {
	background: rgba(0,0,0,0.6)!important
}

#thread dl.userinfo dt.platinum {
	background-image: url(https://i.somethingawful.com/css/fyad/relatablefall/a.png)!important
}

#thread dl.userinfo dt.idiotking {
	background-image: url(https://i.somethingawful.com/css/fyad/relatablefall/b.gif)!important
}

a.index {
	color: #fff!important
}

div.funbox {
	width: auto;
	float: left;
	clear: both;
	background-color: #fff;
	margin-left: 80px;
	margin-bottom: 10px;
	-moz-border-radius: 24px;
	border: 2px #000 solid;
	border-radius: 24px;
	position: relative;
	min-width: 40px;
	padding: 16px 24px
}

div.funbox .tail {
	background-repeat: no-repeat;
	background-image: url(https://i.somethingawful.com/css/fyad/relatablefall/c.gif);
	background-position: 0 0;
	position: absolute;
	bottom: -29px;
	left: 24px;
	width: 27px;
	height: 44px
}

a,#content a {
	color: #ddd;
	/* text-shadow: 1px -3px 30px rgba(255,217,213,1)!important; */
}

#thread table.post {
	border-color: #e38314!important
}

body,a:visited,#content div#mp_bar a,#content div.pages a,#content div.breadcrumbs a,#content div.breadcrumbs a:visited {
	color: #ddd;
	text-shadow: 1px -3px 10px rgba(255,217,213,1);1) */
}

#forum,table,#subforums,div.userinfo {
	clear: left
}

#forum td.icon {
	background: rgba(0,0,0,0.6)!important
}

#forum td.author,#forum td.views,#forum td.lastpost,#thread li.post,#subforums td.topics,#forum td.votes,#forum.asktell td.icon2,table.standard tr td.altcolor2 {
	background: rgba(0,0,0,0.6)!important;
	border-color: #e38314!important
}

#thread li.post.even,#subforums,#subforums td,#forum,#forum td,table#thread tr.even td,#forum.asktell td.icon,#thread.review td,table.standard tr td.altcolor1 {
	background: rgba(0,0,0,0.6)!important
}

#thread div.title *,.bbc-center {
	text-align: left
}

tr.altcolor1 td,.altcolor1,tr.altcolor1 td,td.altcolor1 {
	background: rgba(0,0,0,0.6)!important
}

tr.altcolor2 td,.altcolor2,tr.altcolor2 td,td.altcolor2 {
	background: rgba(0,0,0,0.5)!important
}

tr.altcolor2 td.postbody, tr.altcolor1 td.postbody {
	background: transparent !important;
}

#forum td.title a,#forum td.replies a,#forum td.author a,#forums td.moderators a,#navigation a,#forum td.views,#forum td.lastpost a.author,#content div.breadcrumbs a {
	color: #ddd!important;
}

#forum td,#forum td.star,#forum td,#forum.threadlist tbody tr td:first-child,div.threadbar,#subforums,#forum,#forum td,#filter,#forum.threadlist tbody tr td:first-child,#thread table.post,#subforums tr.subforum td,#forum td.rating,#forum td.replies,.forumdisplay #subforums tr.subforum:last-child td.title,.forumdisplay #subforums tr.subforum:last-child td.topics,.forumdisplay #subforums tr.subforum:last-child td.posts {
	border-color: #e38314!important;
}

th,div.threadbar,div.forumbar #forum th,#forum th.replies,#forum th.author,body table#forum thead tr th:first-child,#forum th.title,#forum th.views,#forum th.rate,#forum th.lastpost,td.title div.lastseen,#forum td.title div.lastseen a.x,div.forumbar {
	background: rgba(0,0,0,0.6)!important;
}

div.funbox .tail {
	background-repeat: no-repeat;
	background-image: url('https://i.somethingawful.com/css/fyad/relatablefall/c.gif')!important;
	background-position: 0 0;
	position: absolute;
	bottom: -29px;
	left: 24px;
	width: 27px;
	height: 44px
}

/* 10/3/17 fixes */

.postbody {
	width:100%;
}

.showthread table.post tbody td.postdate, .showthread table.post tbody td.postlinks {
	display:inline!important;
}

.postbody, td.postdate, ul.profilelinks {
	background-color: transparent !important;
}

.seen1 {
	background-color: rgba(86, 33, 1, 0.5) !important;
}

.seen2 {
	background-color: rgba(110, 84, 1, 0.5) !important;
}

table.post tr.seen1 td, table.post tr.seen2 td {
	background-color: transparent !important;
}

td.postdate a.lastseen_icon {
	display:inline-block!important;
	height:auto!important;

}

td.postdate a, td.postlinks ul.profilelinks li a, .dictnav a, #main_full td a, .searchresults #main_full tr .smalltext a, .newthread #content table.standard tr.altcolor2 td:last-child a, .newreply #main_full div.postinfo div.save-state a, .newreply #main_full tr.altcolor2 td:last-child a, .newthread #content table.standard tr:first-child a, .newreply #content table.standard tr:first-child a, .threads_editthread table#main_wide.standard td.user_loggedin a {
	border: none !important;
}

tr td.postdate a.lastseen_icon {
	width: 10px;
	height: 14px !important;
	padding: 0 3px 0 3px !important;

	margin: 0 !important;
	vertical-align:middle;
}

#container div.threadbar {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

tbody, #something_awful.forum_26 #thread table.post {
	border-color: #e38314 !important;
	border-width: 1px !important;
	border-bottom-color: rgba(230, 4, 4, 1)!important;
}

td.postdate a.lastseen_icon {
	dispaly:inline-block !important;
	float:none !important;
}

#something_awful #container #content .breadcrumbs span a span a {
	color:black !important
}

#something_awful #container #content #thread table tbody tr td {
	background-image:none !important;
}

#something_awful #container #content .bottom {
	border-width: 0 1px 1px 1px !important;
}

body#something_awful div#container div#content table#forum thead, #content #forum td, body#something_awful div#container div#content table#forum tbody tr {
	border: 1px solid #e38314 !important;
}

body#something_awful div#container div#content div#filter {
	border: 1px solid #e38314 !important;
	border-bottom-style:none !important;
}

body#something_awful div#container div#content div.forumbar {
	background-color: rgba(0, 0, 0, 0.5) !important;
	border: 1px solid #e38314 !important;
}

body#something_awful.forumdisplay div#container div#content table#forum.threadlist tbody tr.thread td,
body#something_awful div#container div#content table#subforums tbody tr td,
ul.navigation li a,
div#content div#thread table.post tbody tr td.postdate {
	color: #ddd !important
}

body#something_awful.forumdisplay.forum_26 div#container div#content table#forum.threadlist {
	overflow-x:auto;
}

body#something_awful.showthread.forum_26 div#container div#content div#thread table.post {
	border-color: #e38314 !important;
}
