body#something_awful.forum_26
{
    background: url('mgsbg.jpg') #131313 repeat !important;
    color: #a7c6c6;

}

body#something_awful.forum_26 a:hover
{
    color: #93b2b2;
}

body#something_awful.forum_26 a:active
{
    color: #91c0c0;
}

#notregistered, #searchboxes
{
    background: none;
}

body#something_awful.forum_26 #nav_purchase
{
    background: #001415 !important;
    border-radius: 0 !important;
    border: 2px #5a9c91 solid !important;
    border-top: 0;
    color: #a7c6c6 !important;
    position: relative;
    width: 90%;
    margin: auto;
}
body#something_awful.forum_26 #nav_purchase::after
{
}
#navigation::after, .navigation::after
{
}
body#something_awful.forum_26 #navigation, body#something_awful.forum_26 .navigation
{
    background: #001415 !important;
    border-radius: 0 !important;
    border: 2px #5a9c91 solid !important;
    border-top: 0;
    color: #a7c6c6 !important;
    position: relative;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;

}
    #navigation a, .navigation a
    {
    color: #a7c6c6 !important; 
    }

#ad_banner_user
{
    margin-top: 90px;
}

#ad_banner_user::before
{
    content: "";
    width: 400px;
    height: 200px;
    background: url('kojima.png') no-repeat;
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -200px;
    margin-top: -200px;
}
body#something_awful.forum_26 .pages a, body#something_awful.forum_26 .pages span, body#something_awful.forum_26 .pages select, body#something_awful.forum_26 .index, body#something_awful.forum_26 td.postlinks a, body#something_awful.forum_26 .postdate a
{
    background: #131313 !important;
    border: 3px #5a9c91 solid !important;
    position: relative;
    border-radius: 0 !important;
    color: #a7c6c6 !important;
}
body#something_awful.forum_26 .postdate
{
    color:#a7c6c6 !important;
}
.pages a::after,.pages select::after,.pages span::after, .index::after, td.postlinks a::after, .postdate a::after
{
}
.lastseen
{
    background: #5a9c91 !important;
    color: #a7c6c6 !important;
}
    .lastseen a
    {
    background: #5a9c91 !important;
    color: #a7c6c6 !important;
    }




#forum th, #forum th a, div.threadbar, div.forumbar
{
    color: #a7c6c6;
}

#thread div.quote
{
    border-color: #aaa;
}


body#something_awful.forum_26 #forum th, body#something_awful.forum_26 div.threadbar, body#something_awful.forum_26 div.forumbar
{
    background: #131313 !important;
}


body#something_awful.forum_26 div.threadbar, body#something_awful.forum_26 #subforums,body#something_awful.forum_26 #forum, body#something_awful.forum_26 #forum td, body#something_awful.forum_26 #filter, body#something_awful.forum_26 #forum.threadlist tbody tr td:first-child,body#something_awful.forum_26 #subforums tr.subforum td
{
    background: #002426;
    color: #a7c6c6 !important;
}
    #forum td
    {
        background: #131313;
    }
        #forum > td > *
        {
            background: none;
        }

body#something_awful.forum_26 .thread > td
{
    background: transparent !important;
}
body#something_awful.forum_26 .seen > td
{
    background: rgba(0,0,0,0.2) !important;
}
body#something_awful.forum_26 #thread table.post
{
    border-bottom-width: 0!important;
    border-right-width: 2px!important;
}

    body#something_awful.forum_26 #thread table.post:nth-of-type(1n+0)
    {
        
    background: url(mgs_postback1.png) right bottom no-repeat, url(mgs_sqback.png) repeat;
    }
    body#something_awful.forum_26 #thread table.post:nth-of-type(2n+0)
    {
        
    background: url(mgs_postback2.png) right bottom no-repeat, url(mgs_sqback.png) repeat;
    }
    body#something_awful.forum_26 #thread table.post:nth-of-type(3n+0)
    {
        
    background: url(mgs_postback3.png) right bottom no-repeat, url(mgs_sqback.png) repeat;
    }
    body#something_awful.forum_26 #thread table.post:nth-of-type(4n+0)
    {
        
    background: url(mgs_postback4.png) right bottom no-repeat, url(mgs_sqback.png) repeat;
    }
    body#something_awful.forum_26 #thread table.post:nth-of-type(5n+0)
    {
        
    background: url(mgs_postback5.png) right bottom no-repeat, url(mgs_sqback.png) repeat;
    }


body#something_awful.forum_26 #thread td.postbody
{
    border-top: none!important;
    padding-top: 50px;
    position:relative;
    z-index:2;
}
#thread td.postbody::before
{

}
#thread td.postbody::after
{

}
body#something_awful.forum_26 #subforums > td
{
    clear: left;
    background: #131313 !important;
    background-image: none;
}

body#something_awful.forum_26 #thread dl.userinfo dt.author
{
    color: #a7c6c6 !important;
}

body#something_awful.forum_26 #thread dd.registered
{
    color: #a7c6c6!important;
}

#flag
{
    margin-bottom: 1em;
}

#forum th
{
    padding: 2px 3px;
}

body#something_awful.forum_26 table.funbox, body#something_awful.forum_26 table.funbox td
{
    font: normal normal normal 13px Verdana,Arial,sans-serif;
    border: none!important;
}

#thread div.title
{
    font: normal normal normal 10px Verdana,Arial,sans-serif;
    margin-top: 1em;
}

p.signature
{
    clear: both;
    margin-top: 20px;
    border: 0;
}

.funbox
{
}

table.standard
{
    background: #131313;
    border: 1px #5a9c91 solid;
}

    table.standard td
    {
        border: 1px #5a9c91 solid;
        background: #131313;
    }

    .standard h2, table.standard th
    {
        background: #131313;
        color: #FFF;
        border: 0;
    }

body#something_awful.forum_26 .postbody table.funbox tr td.complete_shit
{
    background: #131313;
}

body#something_awful.forum_26 .post > tbody > tr:first-of-type
{
    background-color: none !important;
}

.post > tbody > tr:nth-of-type(3n+2)
{
}
body#something_awful.forum_26 .post
{
    border: 3px solid #5a9c91 !important;
    position:relative;
    z-index: 3;
}

body#something_awful.forum_26 div#flag_container
{
    clear: both;
    height: 100px;
    width: 490px;
    background-color: #000;
    background-image: url(flagbg.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 3px;
    overflow: visible !important;
}

    body#something_awful.forum_26 div#flag_container img
    {
        border: 0 #000 solid;
        border-width: 0 1px;
        margin: 0 119px;
    }
    
#flag_container::after{
    width: 253px;
    height: 13px;
    background: url(codecbot.png);
    content: "";
    margin-top: -17px;
    z-index:3;
    position: absolute;
    margin-left: -123px;
}
#flag_container::before{
}
td.postdate
{
    width: 168px;
    white-space: nowrap;
}

#thread.review td
{
    background: none;
    border-color: #999;
}

#thread.review dl
{
    min-height: 60px;
}

#thread.review tr td.userinfo, #thread.review td.postdate
{
    display: table-cell;
}

body#something_awful.forum_26 body, a
{
    color: #011;
}

body#something_awful.forum_26 #content div.pages .curpage
{
    color: #222;
}

body#something_awful.forum_26 #content, body#something_awful.forum_26 #content div.pages a
{
    border-color: #555;
}

body#something_awful.forum_26 div.funbox
{
    width: 90%;
    float: left;
    clear: both;
    background: #433d2d;
    background: linear-gradient(to right, #141c1d, #0b1011, #141c1d);
    margin-left: 80px;
    box-sizing: border-box;
    margin-bottom: 10px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    position:relative;
    min-width: 40px;
    padding: 16px 24px;
    color: #fff8f2;
    clear: both;
    border: 2px solid #5a9c91;
}

    div.funbox::before
    {

    }
    body#something_awful.forum_26 div.funbox .tail
    {
        background: none !important;
        height:0px;
        width: 0px;
        
    }

body#something_awful.forum_26 *
{
    text-shadow: none!important;
}

#forum
{
    border-collapse: collapse;
}
    #forum tr
    {
        background-color: #002426;
    }
    tbody tr
    {
       background-position: 60% 55px, 0 100px !important; 
       background-repeat: no-repeat, repeat-x;
       transition: 0.7s ease-out all;
    }
    tbody tr:hover
    {
       background-position: 60% 0px,0 0 !important; 
       background-repeat: no-repeat, repeat-x;
    }

    /* mgs thread backgrounds */
    tbody tr:nth-of-type(1n+0)
    {
        background-image:url(thread_mgs.png), url(hexagons.png) !important;
       background-repeat: no-repeat, repeat-x;
    }
    tbody tr:nth-of-type(2n+0)
    {
        background-image:url(thread_ocelot.png), url(hexagons.png) !important;
    }
    tbody tr:nth-of-type(3n+0)
    {
        background-image:url(thread_theboss.png), url(hexagons.png) !important;
    }
    tbody tr:nth-of-type(4n+0)
    {
        background-image:url(thread_wolf.png), url(hexagons.png) !important;
    }
    tbody tr:nth-of-type(5n+0)
    {
        background-image:url(thread_snake.png), url(hexagons.png) !important;
    }
    tbody tr:nth-of-type(6n+0)
    {
        background-image:url(thread_hal.png), url(hexagons.png) !important;
    }
    tbody tr:nth-of-type(7n+0)
    {
        background-image:url(thread_raiden.png), url(hexagons.png) !important;
    }
    tbody tr:nth-of-type(7n+0)
    {
        background-image:url(thread_greyfox.png), url(hexagons.png) !important;
    }








    body#something_awful.forum_26 div.threadbar, body#something_awful.forum_26 #subforums, body#something_awful.forum_26 #forum, body#something_awful.forum_26 #forum td, body#something_awful.forum_26 #filter
    {
        border: 1px solid #5a9c91 !important;
    }

        body#something_awful.forum_26 #forum td.replies
        {
            text-align: center!important;
            font: normal normal normal 13px Verdana,Arial,sans-serif!important;
        }

        body#something_awful.forum_26 #forum td.views
        {
            text-align: center!important;
        }

        body#something_awful.forum_26 #forum td.author
        {
            font: normal normal normal 13px Verdana,Arial,sans-serif!important;
            text-decoration: underline!important;
        }

        body#something_awful.forum_26 #subforums td
        {
            border: 1px #000 solid!important;
        }

            #forum td.icon, #forum td.author, #forum td.views, #forum td.lastpost, #thread li.post, #subforums td.topics, #forum td.votes, #forum.asktell td.icon2, table.standard tr td.altcolor2
            {
                background: #FF80FF;
            }

                #thread li.post.even, #subforums, #subforums td, #forum, #forum td, #filter, table#thread tr.even td, #forum.asktell td.icon, #thread.review td, table.standard tr td.altcolor1
                {
                    background: #433d2d;
                }

body#something_awful.forum_26 .seen2 > td, body#something_awful.forum_26 .seen1 > td
{
    background: rgba(0,0,0,0) repeat !important;
}

body#something_awful.forum_26 tr.altcolor1 td, body#something_awful.forum_26 .altcolor1, body#something_awful.forum_26 tr.altcolor1 td, body#something_awful.forum_26 td.altcolor1
{
    background: rgba(0,0,0,0) repeat !important;
}

body#something_awful.forum_26 tr.altcolor2 td, body#something_awful.forum_26 .altcolor2, body#something_awful.forum_26 tr.altcolor2 td, body#something_awful.forum_26 td.altcolor2
{
    background: rgba(0,0,0,0) repeat !important;
}

body#something_awful.forum_26 .breadcrumbs a, body#something_awful.forum_26 .breadcrumbs span a
{
    color:#a7c6c6 !important;
}
body#something_awful.forum_26 a, body#something_awful.forum_26 #content a, body#something_awful.forum_26 a, body#something_awful.forum_26 #content a
{
    color: #fff8f2;
}

    body, a:visited, #content div#mp_bar a, #content div.pages a, body, a:visited, #content div#mp_bar a, #content div.pages a
    {
    }

#forum, table, #forum, table, #subforums
{
    clear: left;
}

#thread div.title *, .bbc-center
{
    text-align: left;
}

body#something_awful.forum_26 .bbc-block a
{
    color: #433d2d !important;
}

body#something_awful.forum_26 td.author a, body#something_awful.forum_26 a.author
{
    color: #804080;
}

body#something_awful.forum_26 div.threadbar.top, body#something_awful.forum_26 div.threadbar.bottom
{
    border: 1px solid #851a51!important;
}




        #filter::before
        {
            content: "";
            height: 295px;
            width: 500px;
            background: url(petals1.gif), url('bigboss.png') no-repeat;
            position: absolute;
            right: 10px;
            display: block;
            margin-top: -302px;
            z-index: -3;
        }
         .threadbar::before
        {
            content: "";
            height: 295px;
            width: 500px;
            background: url(petals1.gif), url('bigboss.png') no-repeat;
            position: absolute;
            right: 10px;
            display: block;
            margin-top: -250px;
            z-index: -3;
        }

        .top
        {
            margin-top: 30px;
        }

        body#something_awful.forum_26 #filter
        {
            border-radius: 0 !important;
            background: #002426 !important;
            border: none !important;
            color: #a7c6c6 !important;
        }
.userinfo
{
    clear: both;
}

dl.userinfo
{
    color: #a7c6c6;
}

    div.userinfo::before
    {
    }

    .userinfo .title
    {
        color:#a7c6c6 !important;
    }

    body#something_awful.forum_26 .userinfo > .author
    {
        position:relative;
        padding: 10px 0px 10px 20px !important;
        display: block;

    }

.userinfo > .author::after
{
}

.userinfo > .author::before
{
}

.banlink
{
}

@-moz-keyframes fyadrotate
{
    from
    {
        -moz-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }

    to
    {
        -moz-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

@-webkit-keyframes fyadrotate
{
    from
    {
        -webkit-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }

    to
    {
        -webkit-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

@-o-keyframes fyadrotate
{
    from
    {
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }

    to
    {
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

@keyframes fyadrotate
{
    from
    {
        -webkit-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
        -ms-transform: rotate(-1deg);
        -o-transform: rotate(-1deg);
        transform: rotate(-1deg);
    }

    to
    {
        -webkit-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -o-transform: rotate(1deg);
        transform: rotate(1deg);
    }
}

a.thread_title:hover, td.author a:hover, td.replies a:hover, td.lastpost a.author:hover, td.icon a.img:hover
{
    -webkit-animation: fyadrotate 0.1s linear infinite alternate;
    -moz-animation: fyadrotate 0.1s linear infinite alternate;
    -ms-animation: fyadrotate 0.1s linear infinite alternate;
    -o-animation: fyadrotate 0.1s linear infinite alternate;
    animation: fyadrotate 0.1s linear infinite alternate;
}

body#something_awful.forum_26 td.icon
{
    border: 1px solid #e8d222 !important;
}