body#something_awful.forum_26 {
  background: url(rainboots.png) 80px 25px no-repeat, url(fyadbg.jpg);
  color: #33331A;
  background-attachment: fixed;
}

body#something_awful.forum_26 a {
  color: #692C2C!important;
}

body#something_awful.forum_26 #container {
  margin: 0!important;
  padding: 0!important;
}

body#something_awful.forum_26 #nav_purchase {
  background: #949470!important;
  border-radius: 5px!important;
  border: 4px!important;
  box-shadow: none;
  border-style: dotted;
  border-color: #696376;
  margin: 5px;
  opacity: .85;
}

body#something_awful.forum_26 #navigation {
  background: transparent!important;
  border: 0!important;
  margin-bottom: 131px;
}

body#something_awful.forum_26 #content {
  padding: 8px;
}

body#something_awful.forum_26 #content div.pages a, body#something_awful.forum_26 #content div.pages .disabled {
  background-color: #544D62!important;
  border: 2px solid white!important;
  border-radius: 2px!important;
  font-size: 124%;
  color: #FFEBCD!important;
  border-color: #9F9F7E!important;
  box-shadow: none!important;
}

body#something_awful.forum_26 #content div.pages .disabled {
  opacity: .5;
}

body#something_awful.forum_26 #filter, body#something_awful.forum_26 .forumbar, body#something_awful.forum_26 .navigation, body#something_awful.forum_26 .threadbar {
  background-color: #696376!important;
  background: url(tagbar.gif);
  border-style: dotted;
  border-color: #FFB84D!important;
  border-radius: 3px!important;
  box-shadow: none!important;
  margin-bottom: 8px;
  padding: 2px;
  opacity: .91;
}

body#something_awful.forum_26 #filter a, body#something_awful.forum_26 .forumbar a, body#something_awful.forum_26 .navigation a, body#something_awful.forum_26 .threadbar a {
  color: #FFEBCD!important;
}

body#something_awful.forum_26 #filter .toggle_tags, body#something_awful.forum_26 .forumbar .toggle_tags, body#something_awful.forum_26 .navigation .toggle_tags, body#something_awful.forum_26 .threadbar .toggle_tags {
  color: white!important;
}

body#something_awful.forum_26 #filter .postbuttons, body#something_awful.forum_26 .forumbar .postbuttons, body#something_awful.forum_26 .navigation .postbuttons, body#something_awful.forum_26 .threadbar .postbuttons {
  line-height: 1!important;
}

body#something_awful.forum_26 a.index {
  background-color: #B2CC80!important;
  border-color: #949470!important;
  border-radius: 2px!important;
  color: white!important;
}

body#something_awful.forum_26 div.lastseen {
  background: none;
  background-color: #696376!important;
  border-color: #FFEBCD!important;
  border-radius: 2px!important;
  border-style: outset;
  color: #DFD0A5!important;
  box-shadow: none!important;
  top: 1px;
  right: 1px;
}

body#something_awful.forum_26 div.lastseen a {
  background: transparent!important;
}

body#something_awful.forum_26 div.lastseen .x {
  color: #A0A060!important;
}

body#something_awful.forum_26 div.lastseen .count {
  color: #FFCE85!important;
  font-size: 98%;
}

body#something_awful.forum_26 .altcolor1 .postbody, body#something_awful.forum_26 .altcolor1 .postdate, body#something_awful.forum_26 .altcolor1 .postlinks, body#something_awful.forum_26 .standard .altcolor1 td .postbody, body#something_awful.forum_26 .standard .altcolor1 td .postdate, body#something_awful.forum_26 .standard .altcolor1 td .postlinks {
  background: #FFDDAA!important;
}

body#something_awful.forum_26 .standard td {
  background: #FFDDAA!important;
  border: 2px solid white!important;
}

body#something_awful.forum_26 .standard th, body#something_awful.forum_26 .standard h2 {
  background: #949470!important;
  /* bar on post box */
  color: white!important;
  border: 2px solid white!important;
  margin-bottom: 0!important;
}

body#something_awful.forum_26 .standard div.postbody {
  background: #FFB84D!important;
}

body#something_awful.forum_26 .altcolor2 .postbody, body#something_awful.forum_26 .altcolor2 .postdate, body#something_awful.forum_26 .altcolor2 .postlinks {
  background: #FFC671!important;
}

body#something_awful.forum_26 table.standard .altcolor2 td {
  background: #FFC671!important;
}

body#something_awful.forum_26 td.postdate a, body#something_awful.forum_26 ul.profilelinks li a {
  background: none!important;
  border-radius: 0!important;
  border: 0!important;
  box-shadow: none!important;
  font-weight: bold;
}

body#something_awful.forum_26 .bbc-block {
  border-radius: 0!important;
  border-top: 1px inset #29203b!important;
  border-bottom: 1px inset #29203b!important;
  border-left: 0!important;
  border-right: 0!important;
  box-shadow: none!important;
  background: transparent;
}

body#something_awful.forum_26 #forum th {
  background-color: #A64D4D!important;
  color: white;
  border: 2px solid white;
}

body#something_awful.forum_26 #forum th a {
  color: white!important;
  background: transparent!important;
}

body#something_awful.forum_26 #forum th.title {
  height: 20px;
}

body#something_awful.forum_26 #forum td.star {
  background-color: #000000;
}

body#something_awful.forum_26 #forum td.icon {
  background-color: #A0B873;
}

body#something_awful.forum_26 #forum td.title {
  background-color: #E6E68A;
  padding-left: 4px;
  height: inherit;
  padding-top: 2px;
  padding-bottom: 2px;
}

body#something_awful.forum_26 #forum td.title div.title_inner {
  min-height: 0;
}

body#something_awful.forum_26 #forum td.author {
  background-color: #BFA24D;
}

body#something_awful.forum_26 #forum td.replies {
  background-color: #A0B873;
}

body#something_awful.forum_26 #forum td.views {
  background-color: #BFA24D;
}

body#something_awful.forum_26 #forum td.rating {
  background-color: #CC933E;
}

body#something_awful.forum_26 #forum td.lastpost {
  background-color: #B2CC80;
}

body#something_awful.forum_26 #forum tr.thread td.replies, body#something_awful.forum_26 #forum tr.thread td.views, body#something_awful.forum_26 #forum tr.thread td.rating {
  color: transparent;
  font-size: 1px;
}

body#something_awful.forum_26 #forum tr.thread td.replies:before, body#something_awful.forum_26 #forum tr.thread td.views:before, body#something_awful.forum_26 #forum tr.thread td.rating:before {
  font-size: 13px;
  text-decoration: none!important;
  color: white;
}

body#something_awful.forum_26 #forum tr.thread td.replies:before {
  content: "Autumn is a second spring when every leaf is a flower ― Albert Camus";
}

body#something_awful.forum_26 #forum tr.thread td.views:before {
  content: "Her pleasure in the walk must arise from the exercise and the day";
}

body#something_awful.forum_26 #forum tr.thread td.rating {
  width: 49px;
  height: 20px;
  background-image: url(10plat.gif);
  background-repeat: no-repeat;
  background-position: 7px 6px;
}

body#something_awful.forum_26 #forum tr.thread[id^="thread"] td {
  color: inherit;
  font-size: inherit;
  width: inherit;
  height: inherit;
  background-image: none;
}

body#something_awful.forum_26 #forum tr.thread[id^="thread"] td:before {
  content: none;
}

body#something_awful.forum_26 #forum tr.thread[id^="thread"] td.lastpost {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

body#something_awful.forum_26 #subforums td.title {
  background-color: #E6A645;
}

body#something_awful.forum_26 #subforums td.topics {
  background-color: #E6E68A;
}

body#something_awful.forum_26 #subforums td.posts {
  background-color: #BFA24D;
}

body#something_awful.forum_26 div.threadbar, body#something_awful.forum_26 #subforums, body#something_awful.forum_26 #subforums td, body#something_awful.forum_26 #forum, body#something_awful.forum_26 #forum th, body#something_awful.forum_26 #forum td, body#something_awful.forum_26 #filter, body#something_awful.forum_26 div.forumbar, body#something_awful.forum_26 #thread table.post, body#something_awful.forum_26 #thread td {
  border-color: #ffffff!important;
  border-width: 2px!important;
}

body#something_awful.forum_26 div.threadbar dt.author, body#something_awful.forum_26 #subforums dt.author, body#something_awful.forum_26 #subforums td dt.author, body#something_awful.forum_26 #forum dt.author, body#something_awful.forum_26 #forum th dt.author, body#something_awful.forum_26 #forum td dt.author, body#something_awful.forum_26 #filter dt.author, body#something_awful.forum_26 div.forumbar dt.author, body#something_awful.forum_26 #thread table.post dt.author, body#something_awful.forum_26 #thread td dt.author {
  color: #696376!important;
}

body#something_awful.forum_26 .title_pages {
  display: inline;
  color: transparent;
  font-size: 1px;
  color: black;
}

body#something_awful.forum_26 .title_pages a {
  font-size: 10px;
}

body#something_awful.forum_26 .title_pages a:first-child:before {
  content: "(\00a0";
}

body#something_awful.forum_26 .title_pages a:last-child:after {
  content: "\00a0)";
}

body#something_awful.forum_26 .title_pages a[href$="lastpost"]:before {
  content: "... ";
  margin-left: -15px;
}

.seen2 .postbody:before, .altcolor2 .postbody:before {
  float: left;
  width: 100%!important;
  padding-left: 9%;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 60px 0;
  margin-bottom: 10px;
  padding-bottom: 0;
  margin-top: 10px
}

.seen1 .postbody:before, .altcolor1 .postbody:after {
  float: left;
  padding-left: 20%;
  width: 100%!important;
  background-image: url();
  background-repeat: no-repeat;
  background-position: 40px 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-top: 10px
}