/* cspam */
.author.op:after
{
	content:"";
	margin-left: 5px;
	background-image: url(//fi.somethingawful.com/images/svgs/verified.png);
	background-size: 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
	line-height: 16px !important;
	background-position: left center;
	background-repeat: no-repeat;
}

body {
	background-image: url('//fi.somethingawful.com/269/cspam-capital-bg.jpg');
	background-size: contain;
}

.postbody a.quote_link:before {
	content: "Sources close to ";
}

@font-face {
	font-family: 'ChomskyRegular';
	src: url('https://fontlibrary.org/assets/fonts/chomsky/e1c2f677c3ac28093f04c77fceafa88d/b5fc230a2b74c4eda45e4b6c8c67c652/ChomskyRegular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

#nav_title {
	font-size: 4rem;
	font-family: ChomskyRegular;
	text-align: center;
	color: #ddd;
	width: max-content;
	margin-left: auto;
	margin-right: auto;
	-webkit-text-stroke: 1.5px black;
}

#nav_subtitle {
	margin-top: -4px;
	font-size: x-large;
	font-family: chomskyregular;
	font-weight: bold;
	-webkit-text-stroke: .9px black;
}

div.breadcrumbs a.up,
#mods a,
div.breadcrumbs .online_users a,
div.breadcrumbs .online_users a:visited {
	color:#ade;
}

div.breadcrumbs a.up:hover,
#mods a:hover,
div.breadcrumbs .online_users a:hover,
div.breadcrumbs .online_users a:visited:hover {
	color:#e33
}

 div.breadcrumbs a.bclast {
	color:#ddd;
}
