body {
  background-color: #ccc;
  color: #3f3849;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 12px
}

img {
  border: 0
}

body, ul, li, form, dl, dt, dd {
  margin: 0;
  padding: 0
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0
}

h3 {
  font-weight: bold;
  font-size: 12px
}

h4 {
  font-weight: bold;
  font-size: 11px
}

a:link, a:visited, a:active {
  color: #3f3849
}

.legacy a:hover {
  color: #f5d300;
  background-color: #40364d
}

.lc {
  font-size: 11px
}

.note {
  font-size: 9px;
  color: #666;
  font-style: italic
}

/* submit buttons */
input.fancybutton, #submitrow input, input.button {
  border: 1px #444 solid;
  font-size: 11px
}

/* table header background and text color */
.tblhead_noback {
  color: #f5d300;
  font-size: 10px
}

.tblborder {
  background-color: #51485f
}

.firstalt {
  background-color: #d0d0d0
}

.secondalt {
  background-color: #c5c5c5
}

/***************/

/* main content area */
body#main {
  margin: 12px 16px
}

#main h2 {
  margin-bottom: 16px;
  width: 90%;
  border-bottom: 1px #666 solid
}

.metrics dl {
  margin-bottom: 12px
}

.metrics dt {
  white-space: nowrap;
  width: 9em;
  font-weight: bold;
  float: left
}

.metrics dd {
  clear: right
}

.box {
  clear: left;
  border: 1px #666 solid;
  margin: 16px 0
}

.box {
  padding: 12px;
  background: #f0f0f0;
  width: 600px
}

.box h3 {
  display: block;
  width: 100%;
  position: relative;
  top: -12px;
  left: -12px;
  padding: 4px 8px
}

.box h3 {
  background-color: #467;
  color: #fff
}

.box.full {
  width: 95%
}

/* makes the outer div scale to fit its contents */
.box.auto {
  width: auto;
  float: left;
  clear: both
}

.box .subbox {
  margin: 24px 12px
}

/* legacy forum chooser table */
.tblhead th {
  background: url('https://i.somethingawful.com/core/icon/fsilk/asterisk_orange.png') no-repeat 6px 6px
}

.tblhead th {
  background-color: #467;
  font-weight: bold;
  color: #fff;
  text-align: left;
  font-size: 12px;
  padding: 6px 8px 6px 26px
}

.tblhead th a {
  color: #fff
}

table.legacy {
  border: 1px #666 solid;
  border-collapse: collapse;
  background: #000;
  width: 100%
}

table.legacy label {
  color: #556;
  padding-left: 8px;
  font-weight: bold;
  white-space: nowrap;
  font-size: 12px
}

table.legacy td {
  font-size: 12px
}

table.legacy th {
  font-size: 10px
}

table.legacy td.row_label {
  vertical-align: top;
  line-height: 24px
}

table.legacy ul {
  margin-left: 32px
}

table.legacy li {
  list-style: none
}

table.legacy .submitrow {
  text-align: right;
  background-color: #467;
  padding: 4px 8px
}

table.legacy td.description {
  padding: 8px
}

table.pretty {
  border: 1px #666 solid;
  border-collapse: collapse;
  background: #ccc;
  width: 100%
}

table.pretty label {
  color: #556;
  padding-left: 8px;
  font-weight: bold;
  white-space: nowrap
}

table.pretty th {
  background-color: #467;
  letter-spacing: -0.2px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  padding: 4px 8px 4px 4px;
  background-image: none;
  font-size: 11px
}

table.pretty td {
  background-color: #fff;
  border-bottom: 1px #ccc solid;
  padding: 2px 4px
}

table.pretty td.fixed {
  font-family: 'courier new', serif
}

table.pretty.ruled td {
  border: 1px #ccc solid;
  margin: 1px
}

table.legacy.userlog {
  width: auto
}

.userlog tr.firstalt.anonproxy {
  background-color: #f0e2e2
}

.userlog tr.secondalt.anonproxy {
  background-color: #f0e6e6
}

.userlog td div.wrap {
  display: block;
  position: relative
}

.userlog .firstalt {
  background-color: #f7f7f7
}

.userlog .secondalt {
  background-color: #f0f0f0
}

.userlog .tblhead th, .userlog td {
  padding: 2px 8px;
  white-space: nowrap
}

.userlog th.country {
  padding-right: 0
}

.userlog td {
  border-bottom: 1px #ccc solid;
  border-left: 1px #ccc solid;
  line-height: 18px
}

.userlog td.logdate {
  font-size: 12px;
  color: black
}

.userlog td.result {
  color: #777;
  letter-spacing: -0.1px;
  white-space: nowrap;
  font-size: 10px
}

.userlog td.result img {
  padding-right: 2px;
  margin-bottom: -4px
}

.userlog td.ip, .userlog td.logdate {
  font-family: 'courier new', serif
}

.userlog td.ip {
  font-weight: bold;
  color: #000
}

.userlog td div.value {
  display:inline;
}

.userlog td .tinylinks {
  top: 0;
  right: 0
}

.userlog td.username .value {
  font-weight: bold
}

.userlog td.username .value a {
  color: #069
}

.userlog td.city {
  font-size: 11px
}

.userlog td.city.unknown, .userlog td.postcode.unknown {
  color: #aaa;
  font-size: 10px
}

.userlog td.ct_icon {
  font-weight: bold;
  text-transform: uppercase
}

.userlog .tblhead th {
  background-image: none;
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left
}

.userlog .disabled img {
  opacity: .2;
  -ms-filter: "alpha(opacity=20)"
}

.userlog .usergroup6, .userlog .usergroup112 {
  padding-left: 19px;
  background: no-repeat 4px 4px
}

.userlog .usergroup4, .userlog .usergroup144 {
	padding-left: 21px;
  background: no-repeat 4px 4px;
}

.userlog td.username.usergroup6 {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/bullet_star_red.png')
}

.userlog td.username.usergroup112 {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/bullet_star_blue.png')
}

.userlog td.username.usergroup4 {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/delete.png');
}

.userlog td.username.usergroup144 {
  background-image: url('https://fi.somethingawful.com/images/svgs/permabanned.svg');
	background-size: 15px;
}

.userlog .username.probation {
	background-color: #FDF;
}

.userlog td .tinylinks {
  text-align: right;
  font-family: sans-serif;
  font-weight: normal;
  float: right;
  font-size: 10px;
  color: #aaa;
  margin-left: 8px
}

.userlog td .tinylinks a {
  color: #889;
  text-decoration: none;
  margin-left: 2px;
  background: no-repeat 2px 3px;
  padding: 0 1px;
  padding-left: 13px
}

.userlog td:hover .tinylinks a:hover {
  color: #c66;
  text-decoration: underline
}

.userlog td .tinylinks.user .edit a {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk-tiny/10/pencil.png')
}

.userlog td .tinylinks.user .find a {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk-tiny/10/magnifier.png')
}

.userlog td .tinylinks.ip a.refine {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk-tiny/10/magnifier.png')
}

.userlog td .tinylinks.ip a.resolve {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk-tiny/10/monitor.png')
}

.userlog td .tinylinks a.whois {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk-tiny/10/database.png')
}

.userlog td .tinylinks a.map {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk-tiny/10/map.png')
}

.userlog tr.anonproxy td.ct_icon img {
  margin-bottom: -4px
}

.userlog tr.anonproxy td.city {
  color: #999
}

table.maintlog td {
  background-color: #fff;
  padding: 3px 4px;
  vertical-align: top
}

table.maintlog td.date {
  white-space: nowrap;
  font-family: 'courier new', serif;
  letter-spacing: -1px
}

table.maintlog td.message {
  font-size: 11px
}

table.maintlog td.result {
  padding-left: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 6px 3px
}

table.maintlog td.result.info {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/flag_blue.png')
}

table.maintlog td.result.notice {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/flag_green.png')
}

table.maintlog td.result.warn {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/flag_yellow.png')
}

table.maintlog td.result.err {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/flag_red.png')
}

table.maintlog td.group, table.maintlog td.op {
  font-weight: bold;
  font-size: 11px;
  letter-spacing: -0.4px
}

/* menu stuff */
#nav {
  margin: 8px 4px 8px 4px
}

#nav {
  background-color: #262d35
}

#nav h2 {
  color: #fff;
  letter-spacing: -1.0px
}

#nav h4 {
  color: #fa0;
  line-height: 18px
}

#nav div.links {
  border-bottom: 1px #fff solid;
  padding-bottom: 12px
}

#nav .links ul {
  padding-left: 18px;
  background: url('https://i.somethingawful.com/core/icon/fsilk/link.png') no-repeat
}

#nav .links ul {
  height: 10px
}

#nav .links li {
  font-size: 10px;
  color: #888;
  padding: 0 4px 0 2px;
  float: left;
  list-style: none
}

#nav .links li a {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px #999 dotted
}

#nav div.userfind {
  clear: both;
  padding: 12px 0;
  border-bottom: 1px #ccc solid
}

#nav .userfind input.quickfind {
  font-size: 10px;
  margin: 4px 0;
  border: 1px #666 solid;
  width: 97%;
  background-color: #fff
}

#nav .userfind form {
  margin-left: 8px
}

#nav .userfind h4 {
  background-repeat: no-repeat;
  padding-left: 18px;
  line-height: 18px
}

#nav .userfind.users h4 {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/user.png')
}

#nav .userfind.userlogins h4 {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/key_go.png')
}

#nav div.menu {
  margin: 12px 0
}

#nav .menu h4 {
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0 2px
}

#nav .menu ul {
  margin-bottom: 8px
}

#nav .menu li {
  color: #666;
  font-size: 9px;
  margin-left: 20px;
  list-style: square
}

#nav .menu li a {
  color: #ddd;
  font-size: 11px;
  text-decoration: none;
  border-bottom: 1px #750 solid
}

#nav .menu li a:hover {
  color: red
}

div.form_result {
  padding: 8px;
  padding-left: 26px;
  border: 1px #686 solid;
  background-color: #bad3b6;
  background-repeat: no-repeat;
  background-position: 7px 7px;
  font-size: 12px;
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/accept.png');
  font-weight: bold;
  margin-bottom: 2em
}

div.form_error {
  border: 1px #866 solid;
  background-color: #cfb6b6;
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/bell_error.png');
  color: #A00
}

div.forumtree_pot {
  position: relative
}

div.forumtree {}

.forumtree ul.forum {
  clear: left;
  margin: 0;
  padding-left: 20px
}

.forumtree li {
  line-height: 24px
}

.forumtree .lc {
  color: #666;
  font-size: 9px
}

.forumtree b.title {
  width: 80%;
  padding-left: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/layout.png');
  font-size: 14px
}

.forumtree b.title.hover {
  background-color: #76f37e;
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/folder_edit.png')
}

.forumtree b.title.hover.parent {
  background-color: #92cf96;
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/folder_go.png')
}

.forumtree li.inactive b.title {
  opacity: .5
}

.forumtree li.allow_posts b.title {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/layout_add.png')
}

.forumtree li.no_posts>b.title {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/layout_delete.png')
}

.forumtree li.no_threads>b.title {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/folder.png')
}

.forumtree li.no_threads.no_posts>b.title {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/folder_delete.png')
}

div.legend {
  border: 1px #777 solid;
  background: #ddd;
  padding: 4px;
  margin-bottom: 12px;
  line-height: 16px;
  vertical-align: middle;
  font-size: 11px
}

div.legend b {
  font-size: 12px;
  border-bottom: 1px #777 solid;
  margin-bottom: 8px;
  display: block
}

div.legend ul {
  margin-left: 12px
}

div.legend li {
  list-style: none
}

div.legend div {
  padding-top: 2px;
  line-height: 16px;
  padding-left: 22px;
  background-repeat: no-repeat
}

div.legend ul.right {
  float: right;
  padding-right: 20px
}

.forumtree div.links {
  background-color: #c4c4c4;
  padding: 0 8px;
  position: absolute;
  right: 0
}

.reorder_button {
  cursor: pointer
}

div.mods {
  display: none
}

div.mods ul {
  margin-right: 50px;
  padding-left: 16px;
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 16px;
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/bullet_key.png')
}

div.mods li.mod a {
  color: #4e77a7;
  text-decoration: none;
  border-bottom: 1px #99c dotted
}

div.mods li.mod a:hover {
  background-color: #ccc;
  color: blue
}

div.mods li.mod {
  line-height: 14px;
  float: left;
  letter-spacing: -0.1px;
  font-size: 10px;
  padding-right: 3px;
  white-space: nowrap;
  padding-left: 13px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/bullet_blue.png')
}

.comment {
  padding: 4px 14px;
  font-size: 10px;
  color: #777
}

.menu .users {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/user_red.png')
}

.menu .logs {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/book_open.png')
}

.menu .groups {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/group.png')
}

.menu .forums {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/comments.png')
}

.menu .posticons {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/tag_yellow.png')
}

.menu .smilies {
  background-image: url('//fi.somethingawful.com/images/smilies/smile.gif')
}

.menu .announce {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/bell.png')
}

.menu .advertise {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/money.png')
}

.menu .user_profile {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/money.png')
}

.menu .search {
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/database_gear.png')
}

.menu .threads {
	background-image: url('https://i.somethingawful.com/core/icon/fsilk/table_edit.png')
}

.menu .files {
	background-image: url('https://i.somethingawful.com/core/icon/fsilk/folder_image.png')
}

/* cp homepage */
.box#stats img {
  margin-left: 16px;
  margin-top: 2px
}

/* wtf?
.gc { color:darkgreen; }
.cc { color:darkblue; }
*/

div.search_binding {
  position: relative;
  margin: 12px 0;
  margin-left: 20px
}

div.search_binding ul {
  margin: 0;
  padding: 0
}

div.search_binding li {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none
}

div.search_binding li.has_threads {
  background: url('https://i.somethingawful.com/core/icon/fmini/page.gif') 0 1px no-repeat;
  font-weight: normal
}

div.search_binding li.is_locked {
  background: url('https://i.somethingawful.com/core/icon/fmini/page_lock.gif') 0 1px no-repeat
}

div.search_binding li.no_threads {
  background: url('https://i.somethingawful.com/core/icon/fmini/page_tree.gif') 0 1px no-repeat
}

div.search_binding li.inactive {
  color: #f76f6b;
  background: url('https://i.somethingawful.com/core/icon/fmini/page_deny.gif') 0 1px no-repeat
}

div.search_binding div.title {
  line-height: 19px;
  font-size: 11px;
  letter-spacing: -0.1px;
  overflow: hidden;
  white-space: nowrap
}

div.search_binding div.title .id {
  letter-spacing: -0.2px;
  opacity: .4;
  color: blue;
  font-size: 10px
}

div.search_binding div.title .id a {
  color: blue
}

.indexname .warning img {
  display: block;
  float: left;
  overflow: hidden;
  padding-right: 2px
}

div.search_binding div.indexname {
  right: 0;
  position: absolute
}

div.search_binding div.indexname select {
  border: 1px #aaa solid;
  font-family: Arial, sans-serif;
  font-size: 11px;
  padding: 0;
  margin: 0;
  font-weight: normal
}

div.search_binding div.indexname option {}

div.search_binding div.indexname .noindex {
  color: #aaa;
  font-weight: normal
}

.forumperms_clusterfuck ul {
  margin-left: 30px;
  padding-left: 10px
}

.userlinks dd {
  padding-left: 20px
}

.userfind td {
  font-size: 11px;
  color: #888;
  letter-spacing: -0.4px
}

.userfind td.userid {
  padding-left: 8px;
  font-size: 11px;
  color: #777
}

.userfind td.username {
  white-space: nowrap
}

.userfind td.username b {
  display: block;
  font-family: arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: normal;
  color: #46c
}

.userfind td.username b a {
  background-color: transparent;
  color: #46c
}

.userfind td.email a {
  font-size: 11px;
  text-decoration: none;
  border-bottom: 1px #66f dotted;
  color: #555;
  letter-spacing: 0
}

.userfind span.links a {
  font-size: 10px;
  letter-spacing: -0.3px;
  border-bottom: 1px #cec dotted;
  text-decoration: none;
  display: block;
  float: left;
  line-height: 12px;
  padding-left: 14px;
  padding-right: 4px;
  color: #644;
  margin-top: 6px;
  position: relative
}

.userfind span.links img {
  padding-top: 2px;
  position: absolute;
  top: -2px;
  left: 0
}

.userfind span.links {
  display: block;
  opacity: .7;
  float: left;
  margin-left: 2px;
  padding-bottom: 4px;
  position: relative
}

.userfind span.links a:hover {
  color: red;
  background-color: transparent;
  opacity: 1
}

.forumperms td {
  font-size: 10px;
  opacity: .9;
  font-size: 90%;
  padding: 0 12px
}

.forumperms td.row_label label {
  font-weight: normal;
  padding: 0 12px 0 0;
  margin: 0
}

span.perm_custom {
  color: #449F00
}

span.perm_inherit {
  color: #4064CF
}

.smilie_list td.image {
  text-align: center
}

.smilie_list td.text {
  font-family: 'courier new', serif;
  color: blue
}

.smilie_list select {
  padding: 0;
  margin: 0;
  font-size: 10px
}

.smilie_list option {
  padding: 0;
  margin: 0
}

table.announcements {}

.announcements tr.column_headers th {
  text-align: left;
  padding: 4px;
  font-style: italic;
  white-space: nowrap;
  padding-right: 12px
}

.announcements td {
  padding: 8px 8px;
  border-right: 1px #999 dashed
}

.announcements td.title {
  padding-left: 24px;
  background-repeat: no-repeat;
  background-image: url('https://i.somethingawful.com/core/icon/fsilk/note.png');
  background-position: 4px 8px
}

.announcements td.title a {
  color: blue;
  font-weight: bold
}

.announcements td.date {
  white-space: nowrap;
  font-size: 11px;
  font-family: 'courier new', fixed
}

.announcements td.date i {
  font-style: normal;
  letter-spacing: -0.1px;
  border-bottom: 1px #aaa dotted
}

.announcements td.timeleft {
  white-space: nowrap;
  text-align: right
}

.announcements td.links {
  white-space: nowrap
}

/** BANNER ADS **/
table.goonbas {
  border-collapse: collapse;
  margin-top: 1em
}

table.goonbas.pretty th {
  white-space: nowrap;
  text-align: center
}

table.goonbas td {
  border: 1px #ccc solid;
  white-space: nowrap;
  font-family: 'courier new', serif
}

table.goonbas td.bannerid {
  font-weight: bold
}

table.goonbas td.image {
  padding: .5em
}

table.goonbas td.image img {
  border: 1px blue solid
}

table.goonbas img.fullsize {
  width: 468px;
  height: 60px
}

table.goonbas td.status {
  text-align: center;
  font-weight: bold;
  color: white
}

table.goonbas td.status.active {
  background-color: green
}

table.goonbas td.status.queued {
  background-color: blue
}

table.goonbas td.status.expired {
  background-color: #944
}

/* get the pages div looking half-decent until we clean up the underlying junk */
div.pages a:hover {
	margin: 6px 4px;
	padding: 6px 8px;
}
div.pages span, div.pages a, div.pages select {
	display: inline-block;
	background: #eee;
	border: 1px solid #666;
	text-align: center;
	min-width: 24px;
	margin: 6px 4px;
	padding: 6px 8px;
	font-size: 15px;
}
