#debug {
	background:#1b1c22;
	border:#304867 1px solid;
}
#debug div.debug_head {
	background:#1b1c22;
	border:#304867 1px solid;
}

#debug button {
	border:1px solid #304867;
	background-image:none;
	color:#65a1ee;
	background-color: #1C2029;
}

#debug button:active, #debug button:hover {
	background-color:#304867;
	color:#aaa;
}

#debug button.state_1:active,
#debug button.state_1 {
	background-image:-webkit-linear-gradient(bottom,#040 0,#240 100%);
}

div.debug_table table {
	background-color: black;
}

#debug_out th {
	background-color: #444;
}

#debug_out tr:nth-child(2n+1) {
	background-color: #1b1c22;
}

#debug_out td.type.query {
	color: #65a1ee;
}

#debug_out td, #debug_out th {
	border: 1px solid #333;
}
