/* Thread lists */
@media screen and (max-width: 1024px) {
	#forum th.views, #forum td.views, #forum th.replies, #forum td.replies {
		display: none;
	}
}
@media screen and (max-width: 800px) {
	#forum th.rate, #forum td.rating {
		display: none;
	}
}
@media screen and (max-width: 640px) {
	#forum th.author, #forum td.author {
		display: none;
	}
}
