/* gas chamber tweaks from forums.css */
.forum_25 div#thread
{
	box-shadow:0 0 12px #072c09;
	margin-top:20px;
}

.forum_25 #thread .seen1 dl.userinfo dt.author,.forum_25 #thread .seen2 dl.userinfo dt.author,.forum_25 #thread dl.userinfo dt.author
{
	text-shadow:none;
	color:#053F08;
}

.forum_25 #forum td,.forum_25 #forum th
{
	border:none;
}

.forum_25 #forum th,.forum_25 div.forumbar,.forum_25 #forum th a
{
	background:#054D07;
	color:#348A38;
	text-shadow:none;
	border-color:#023304;
}

.forum_25 #forum td.star,.forum_25 #forum td.icon,.forum_25 #forum td.title,.forum_25 #forum td.author,.forum_25 #forum td.replies,.forum_25 #forum td.views,.forum_25 #forum td.rating,.forum_25 #forum td.lastpost,.forum_25 #forum tr.seen td.star,.forum_25 #forum tr.seen td.icon,.forum_25 #forum tr.seen td.title,.forum_25 #forum tr.seen td.author,.forum_25 #forum tr.seen td.replies,.forum_25 #forum tr.seen td.views,.forum_25 #forum tr.seen td.rating,.forum_25 #forum tr.seen td.lastpost
{
	background-color:#c0e1c1;
	background-image:url(//fi.somethingawful.com/images/gas-td-bg.png);
	background-repeat:repeat-x;
	background-position:bottom;
}

body.forum_25
{
	background:#08730A;
	background-image:url(//fi.somethingawful.com/images/gasback-new-1.jpg);
}

.forum_25 #filter,.forum_25 #forum
{
	background:#628C02;
	border-color:#054D05;
}

.forum_25 #filter
{
	background-image:url(//fi.somethingawful.com/images/gas-td-top-bg.png);
	background-repeat:repeat-x;
	background-position:top;
	box-shadow:inset 1px 1px 1px #78a60f,inset -1px -1px 1px #456009;
}

.forum_25 #filter div.toggle_tags
{
	color:#003100;
}

.forum_25 #navigation.navigation
{
	background-color:#ced29e;
	box-shadow:3px 3px 4px #093308;
	border-top-color:#bdc288;
	background-image:url(//fi.somethingawful.com/images/gas-nav-bottom.jpg);
}

.forum_25 #copyright
{
	color:#351a06;
}

.forum_25 div.pages a,.forum_25 div.pages a:hover,.forum_25 div.breadcrumbs a.index,.forum_25 div.breadcrumbs a.index:hover
{
	background:#379536 none repeat-x;
	box-shadow:inset 1px 1px 1px #4AC84A,inset -1px -1px 1px #087C08,2px 2px 2px #093308;
	border-color:#054905;
}

.forum_25 div.pages a:hover,.forum_25 div.breadcrumbs a.index:hover
{
	background:#47c046;
	box-shadow:inset 1px 1px 1px #5fdf5f,inset -1px -1px 1px #025902,2px 2px 2px #093308;
	color:#e4ffe5;
}

.forum_25 div.pages span.disabled
{
	background:#066306 none repeat-x;
	box-shadow:2px 2px 2px #093308;
	color:#043C04;
	border-color:#043C04;
}

.forum_25 td.title div.lastseen
{
	border:1px solid #043C04;
	box-shadow:0 0 4px #043C04;
	background-color:#628C02;
	background:bottom right no-repeat url(//fi.somethingawful.com/images/greenrust.jpg);
}

.forum_25 #forum td.title div.lastseen a
{
	color:#b1d169;
	text-shadow:none;
}

.forum_25 #forum td.title div.lastseen a.count
{
	border-left:1px solid #517400;
}

.forum_25 #forum td.title div.lastseen a.x
{
	background-color:#628C02;
	background:top left no-repeat url(//fi.somethingawful.com/images/greenrust-2.jpg);
}

.forum_25 #forum td.title div.lastseen a.x:hover,.forum_25 #forum td.title div.lastseen a.count:hover
{
	color:#3E220B;
}

.forum_25 form#ac_timemachine
{
	border-color:#054D05;
}

.forum_25 #thread table.post td.postbody,.forum_25 #thread table.post tr.seen1 td.postbody,.forum_25 #thread table.post tr.seen2 td.postbody,.forum_25 #thread table.post td.postlinks,.forum_25 #thread table.post tr.seen1 td.postlinks,.forum_25 #thread table.post tr.seen2 td.postlinks
{
	background-color:#9ec5a0;
}

.forum_25 #thread table.post td.userinfo,.forum_25 #thread table.post tr.seen1 td.userinfo,.forum_25 #thread table.post tr.seen2 td.userinfo,.forum_25 #thread table.post td.postbody,.forum_25 #thread table.post tr.seen1 td.postbody,.forum_25 #thread table.post tr.seen2 td.postbody
{
	font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", cursive, "Roboto", sans-serif;
	font-size:16px;
	color:#054105;
	line-height:23px;
	background-image:url(//fi.somethingawful.com/images/gas-td-top-bg.png);
	background-repeat:repeat-x;
	background-position:top;
}

.forum_25 #forum td.title a,.forum_25 td.title div.title_pages,.forum_25 #forum.threadlist td
{
	font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", cursive, "Roboto", sans-serif;
}

.forum_25 #thread table.post td.postdate,.forum_25 #thread table.post tr.seen1 td.postdate,.forum_25 #thread table.post tr.seen2 td.postdate,.forum_25 #thread table.post td.postlinks,.forum_25 #thread table.post tr.seen1 td.postlinks,.forum_25 #thread table.post tr.seen2 td.postlinks
{
	background-image:url(//fi.somethingawful.com/images/gas-td-bg.png);
	background-repeat:repeat-x;
	background-position:bottom;
}

.forum_25 #thread table.post td.userinfo,.forum_25 #thread table.post tr.seen1 td.userinfo,.forum_25 #thread table.post tr.seen2 td.userinfo
{
	background-image:url(//fi.somethingawful.com/images/gas-td-top-bg.png),url(//fi.somethingawful.com/images/post-divide.png);
	background-repeat:repeat-x,repeat-y;
	background-position:top,right;
}

.forum_25 #thread table.post td.postdate,.forum_25 #thread table.post tr.seen1 td.postdate,.forum_25 #thread table.post tr.seen2 td.postdate
{
	background-image:url(//fi.somethingawful.com/images/gas-td-bg.png),url(//fi.somethingawful.com/images/post-divide.png);
	background-repeat:repeat-x,repeat-y;
	background-position:bottom,right;
}

.forum_25 div.threadbar.top,.forum_25 div.threadbar.bottom,.forum_25 #thread ul.postbuttons,.forum_25 ul.postbuttons,.forum_25.forumdisplay div.forumbar ul.postbuttons,.forum_25 div.forumbar
{
	visibility:hidden;
	height:0;
	border:0;
	line-height:0;
	padding:0;
}

.forum_25 .online_users,.forum_25 .online_users a
{
	color:#043604;
}

.forum_25 div.breadcrumbs a.bclast,.forum_25 div.breadcrumbs a
{
	color:#43240C;
}

.forum_25 div.breadcrumbs a.bclast:hover,.forum_25 div.breadcrumbs a:hover
{
	color:#48BD4E;
}

.forum_25 td.star div
{
	background:transparent url(//fi.somethingawful.com/images/bookmark-star-gs.png) no-repeat center center;
}

.forum_25 #forum tr.seen td.icon,.forum_25 #forum tr.seen td.star
{
	border-left:0;
}

.forum_25 td.title div.title_pages,.forum_25 td.title div.title_pages a
{
	color:#054305;
}

.forum_25 td.title div.title_pages a:hover
{
	color:#FFF;
	background-color:#043604;
}

.forum_25 #thread dl.userinfo dt.op,.forum_25 #thread .seen1 dl.userinfo dt.op,.forum_25 #thread .seen2 dl.userinfo dt.op
{
	color:#43240C;
	text-shadow:2px 2px 0 #cdf3cd;
}

.forum_25 #thread dl.userinfo dt.op:after,.forum_25 #thread .seen1 dl.userinfo dt.op:after,.forum_25 #thread .seen2 dl.userinfo dt.op:after
{
	content:" (IDIOT)";
}

.forum_25 #thread table.post
{
	border:1px solid #023304;
}

.forum_25 #thread .seen1 .bbc-block,.forum_25 #thread .seen2 .bbc-block,.forum_25 #thread .bbc-block
{
	background-color:#e2d1c4;
	background-image:url(//fi.somethingawful.com/images/gas-background.jpg);
	box-shadow:2px 2px 9px #043405;
	border-color:#043405;
	background-repeat: repeat;
}

.forum_25 .bbc-block blockquote
{
	color:#113612;
}

.forum_25 .postbody a.quote_link
{
	color:#3F230B;
}

.forum_25 #forum td.author a
{
	color:#c0e1c1;
}

.forum_25 #forum td.author a:after
{
	color:#3F230B;
	content:"SHITHEAD";
}

.forum_25 img.timg.complete
{
	border:2px #BF5B05 solid;
	box-shadow:2px 2px 1px #043405;
}

.forum_25 #thread table.post p.editedby span
{
	background-image:url(//fi.somethingawful.com/images/shit.gif);
	padding-left:22px;
}

.forum_25 ul#navigation.navigation a
{
	color:#053D08;
}

.forum_25 #nav_purchase a,.forum_25 ul.navigation a
{
	color:#d6beab;
}

.forum_25 #ac_timemachine,.forum_25 #thread table.post td.userinfo,.forum_25 #thread table.post tr.seen1 td.userinfo,.forum_25 #thread table.post tr.seen2 td.userinfo,.forum_25 #thread table.post td.postdate,.forum_25 #thread table.post tr.seen1 td.postdate,.forum_25 #thread table.post tr.seen2 td.postdate
{
	background-color:#c0e1c1;
}

.forum_25 .navigation,.forum_25 #nav_purchase
{
	background-color:#4D280C;
	box-shadow:3px 3px 4px #093308;
	background-image:url(//fi.somethingawful.com/images/gas-nav-top.jpg);
	border-color:#351a06;
}

body.forum_25 div#gc_overlay
{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-image:url(//fi.somethingawful.com/images/gas-overlay-4.png);
	pointer-events:none;
}

body {
	background: #093
}

a, a:visited, a:hover, a:active {
	color: #000020
}

body {
	color: #000
}

#notregistered {
	border-color: #000
}

#notregistered, #searchboxes {
	background: none
}

#forum th, #forum th a, div.threadbar, div.forumbar {
	color: #630
}

#thread div.quote {
	border-color: #aaa
}

#forum th, div.threadbar, div.forumbar {
	background: #093
}

#forum td.icon, #forum td.author, #forum td.views, #forum td.lastpost, #thread li.post, #subforums td.topics, #forum td.votes, #forum.asktell td.icon2 {
	background: #6c0
}

#thread li.post.even, #subforums, #subforums td, #forum, #forum td, #filter, table#thread tr.even td, #forum.asktell td.icon {
	background: #690
}

div.threadbar, #subforums, #subforums td, #forum, #forum th, #forum td, #filter, div.forumbar, #thread table.post, #thread td {
	border: 1px solid #660
}

tr.altcolor1 td {
	background-color: #690
}

tr.altcolor2 td {
	background-color: #6c0
}
