/* imp zone */
/* ddrd remix by obstipator */
body.forum_267
{
  background:url(//fi.somethingawful.com/images/ddrd-bgYoshi.jpg) #cedbf0;
}

.forum_267 #container
{
  background:url(//fi.somethingawful.com/images/ddrd-bgYoshiBottom.png) repeat-x bottom;
  padding-bottom:50px;
}

.forum_267 #copyright a
{
  color:#fff;
  font-weight:700;
}

body#something_awful.forum_267 #copyright
{
  color:#fff;
  text-shadow:0 0 .5em #000, 0 0 .5em #000, 0 0 .5em #000;
}

.forum_267 .breadcrumbs a.up,.forum_267 .breadcrumbs a.bclast,.forum_267 .breadcrumbs .online_users,.forum_267 .breadcrumbs .mainbodytextlarge b
{
  font-weight:400;
  text-decoration:none;
  background:#EEE;
  border:1px solid #666;
  border-radius:6px;
  margin-right:6px;
  box-shadow:inset 1px 1px 1px white, inset -1px -1px 1px #bbbbbb, 2px 2px 2px rgba(26,26,26,0.39);
  text-shadow:1px 1px 1px rgba(0,0,0,0.2);
  padding:2px 8px;
}

.forum_267 .postbody b a[href^="/banlist.php?userid="]:after
{
  content:'';
  display:inline-block;
  width:50px;
  height:43px;
  vertical-align:middle;
  background-image:url(//i.somethingawful.com/images/n-banlist.png);
  background-size:100% 100%;
  -webkit-filter:drop-shadow(001pxblack);
  -moz-filter:drop-shadow(001pxblack);
  filter:drop-shadow(001pxblack);
  padding:0 4px 0 0;
}

.forum_267 img.bookmark
{
  height:0;
  width:20px;
  overflow:hidden;
  padding-bottom:20px;
  background-image:url(//i.somethingawful.com/images/n-star0.png);
  background-size:100%;
}

.forum_267 img.unbookmark
{
  height:0;
  width:20px;
  overflow:hidden;
  padding-bottom:20px;
  background-image:url(//i.somethingawful.com/images/n-star1.png);
  background-size:100%;
}

.forum_267 a:hover:before,.forum_267 .rating_buttons li:hover:before
{
  pointer-events:none;
  position:absolute;
  content:'';
  width:16px;
  height:16px;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAGFBMVEUAAAAAAACdnZ2cnJydnZ0AAACcnJz///96iO+2AAAABHRSTlOzAAAAvFSH7gAAAGhJREFUeF5disENAjEMBJcOWKQ0YDoILSTwhQPjBjiugYS0jx1+7GM1Gg1I1RtJMNnoAQcbrax6h4tYh10mNEzxedWfqd7YFpBlQltPGVY8Wdw8ntt4LyJIWs5V8hFMqleA+N8O+3iSX+SpIGJxGb9xAAAAAElFTkSuQmCC) no-repeat;
  display:inline-block;
  top:0;
  left:-16px;
}

.forum_267 #thread dl.userinfo dt.author.role-mod
{
  background-image:url(data:image/gif;base64,R0lGODlhCgAQAJEDAO3+/hWP5i5LYAAAACH5BAEAAAMALAAAAAAKABAAAAItnCdyK5CLAAhBmSZpja3qlFGCiH1k6FWleE6sOrmjqjmeMmvbpVtH8oAgfIMCADs=);
  padding-left:18px;
}

.forum_267 #thread dl.userinfo dt.author.role-admin
{
  background-image:url(data:image/gif;base64,R0lGODlhCgAQAJEDANtHSpkgJf/S0gAAACH5BAEAAAMALAAAAAAKABAAAAItnBdxG5KLhABAmSZpja3qlFGBiH1k6FWleE6sOrmjqjmeMmvbpVtH8oAgfIMCADs=);
  padding-left:18px;
}

.forum_267 .thread td.title_sticky a.thread_title,.forum_267 .author.op:before
{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEX///8AAABSxhj///9KjO+oAAAAAXRSTlMAQObYZgAAAFtJREFUeF4lxLERQDAYgNFPkTMBOrNkhBT+lpohWMISNGkoXVZQ6E3hcpc7iULzoGgga3eNis5QBjtTr+tGZ8PD5OL7M7p4MNiw0Iv0iL+Fyt8XeUonKiVDJqI/X4gkPOes9IQAAAAASUVORK5CYII=) no-repeat;
  padding-left:20px;
}

.forum_267 .author.op:before
{
  content:'';
  width:16px;
  height:16px;
  display:inline-block;
  vertical-align:bottom;
  padding:0 4px 0 0;
}

.forum_267 td.postdate a
{
  border:none;
  box-shadow:none;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  -ms-border-radius:0;
  -o-border-radius:0;
  border-radius:0;
  width:16px;
  height:16px;
  line-height:16px;
  margin-right:4px;
  text-shadow:none;
  color:transparent;
  padding:0;
}

.forum_267 td.postdate a:hover
{
  background-color:transparent;
}

.forum_267 #thread td.postdate .lastseen_icon
{
  background:url(data:image/gif;base64,R0lGODlhEAANAKIHAP///zkIAGMQCNY5MYwYELUpIe+cnAAAACH5BAEAAAcALAAAAAAQAA0AAANKeLrSESuqNmp98ohhjK0FxAjdZz2QAKwrAbjAwAZAo94rDtGEjNfAHQ/IqrkeOR9Rd0ARBM8nVIBZBAgFU4EgijywhW0100R1FQkAOw==) no-repeat center center;
  margin-right:4px;
}

.forum_267 #thread td.postdate .lastseen_icon img
{
  display:none;
}

.forum_267 td.postdate a.user_jump
{
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAJ1BMVEX////YsBiISBBgKADQqCCwgBjgsBjIoBiYYBj46Ij4+PjowDD40Chwesi1AAAAAXRSTlMAQObYZgAAAH9JREFUeF4tyDEKwjAYhuFPPMEPWYpOf5B2FIrOopnsVIO6i2To6KAHyJIruHb8ztJD2QTf6eHFQnLmgBW/c9ML1T4EkZNHFTj39FgPGWOBakY3sBeOEd1DzywQIXmMeIshtY64iSPrj0Vv3EUL3P/cd1dy4y2alFSbZLFsS9sfPcstFrSXD2YAAAAASUVORK5CYII=) no-repeat center center;
}

.forum_267 td.postdate a.user_jump[title^="R"]
{
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  transform:rotate(180deg);
}

.forum_267 td.postdate a[href*="action=showpost"]
{
  background:url(data:image/gif;base64,R0lGODlhEAAKAKIFABgYGPj4+Li4uNjY2ICAgAAAAAAAAAAAACH5BAEAAAUALAAAAAAQAAoAAAMuCLrcBSNIJaQNK05QbxDM1inSABSPWGomCqgecaYYJxG4jNLUpuw8Gwa4azCICQA7) no-repeat center center;
}

.forum_267 td.postdate a[href^="#"]
{
  background:url(data:image/gif;base64,R0lGODlhDwAQAKIAAAAAAJlOAOqeIojYAAAAAAAAAAAAAAAAACH5BAEAAAAALAAAAAAPABAAAANDCKrTvhC4OaKQIet61dVgAHSjEAiDgJrqop4nG0NqbZtQ88aNCIS2Hsi0mRBjRKJuB8ughruj0vEBUmg2nyai2HIBCQA7) no-repeat center center;
}

.forum_267 .postbuttons input
{
  padding-left:20px;
}

.forum_267 .postbuttons input[name="submit"]
{
  background:url(data:image/gif;base64,R0lGODlhDQANAKIHADFa9wgQSiFCzhAplAgha////7W99wAAACH5BAEAAAcALAAAAAANAA0AAANEeHrUEWs1QOmTwJhKBWQaIBRCBRHCRhWcR1QjQHbB25HFQNtp4auuUkyXEwwgAcAgpyx+AgOjcEA4Lh5RgfESOTy+kQQAOw==) 4px center no-repeat #ddd;
}

.forum_267 .postbuttons input[name="preview"]
{
  background:url(data:image/gif;base64,R0lGODlhDQANAKIHAEqtIRgxADF7EP///ylCEClaCK3enAAAACH5BAEAAAcALAAAAAANAA0AAANBeHrUEWs1QOmTwJhKBWSaMIyFxQibWKiAR1Qq68LjULbB29nF8LqC3coHKEACOxJOEVgVGj/j4rESCIyfyGMbSQAAOw==) 4px center no-repeat #ddd;
}

.forum_267 #thread tr.ignored dl.userinfo,.forum_267 #thread table.ignored td.postbody a
{
  background:url(data:image/gif;base64,R0lGODlhFAAUAKIHAAMBBcWNUby6w3BsbYRULlUyIyYeJgAAACH5BAEAAAcALAAAAAAUABQAAANhaLfcviCC0YyM9IwbjeegZIXgR56CQHosN2ylV5jnxY4nXIPFMuAA4KXnsBl+nIcGZhDoJI8NblQoiB4WXCFASDoGs2BgLMw0ZtsxoepS+AyE8Zi9ohLuVeGqsNZzaDsRCQA7) no-repeat 0 0;
  height:20px;
  display:inline-block;
  padding-left:24px;
}

.forum_267 .bbc-spoiler
{
  text-shadow:none;
  color:transparent;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAAKCAMAAAAtvZhVAAAANlBMVEX/AAD/////AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAAzfBn8AAAAEXRSTlMAAIBAwCBg8BCgkDCwcFDg0Ku7zC0AAAEeSURBVHheVdJZjsQgDARQ4wWTkKXr/pcd4zDdpH6CVOhJDqZIZaEIj1Sq8TmNyOJMfdet0ohl2/O6kfCIPX2pbOVJ1M1xDw4jSoqINxIoCaCuyQkyO5FCiDEiT18U8uMqHJIcjURnN67kDpxENjmldgIyOaZI9KXYm/vcO7YXR46e3A6/iL4c0YZ94bIPZOU6zg5vc9jBqQefnH2Aoy0cQ3/D8uzLhvLlNlS5UQfHzIMLoz0ctR24X9wxOWWW2RdeOMfIZx32wJHcw0B+nILXYWe/cBVXPm5fOHOcyV02KvvnZIPbykVv0Xdp/5zeNH8xMnn7hNvgFA4cy6J4XxeFs9/Wp+B8us6VOJNbGmcxrrmttX3XuEp7rbE8/bLGf17DEZFkjzKjAAAAAElFTkSuQmCC) left center repeat-x #FFF;
  outline:1px solid red;
}

.forum_267 .bbc-spoiler.reveal li,.forum_267 .bbc-spoiler.reveal,.forum_267 .bbc-spoiler.stay
{
  background:#fff;
  outline:none;
  color:#111;
}

.forum_267 #thread .post .quote_link[href$="420"]
{
  position:static;
}

.forum_267 #thread .post .quote_link[href$="420"]:after
{
  content:"You Found: " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAXBAMAAAAMzfkgAAAAJFBMVEX////39/fnxpRKORhCQkrva7X3QkKUlJxKISG9vcaEISFzc4RR+YyQAAAAAXRSTlMAQObYZgAAAKpJREFUeF6Fy7EKwjAQx+GDdugaUMS1TyAW9w6BPkEqPkAO7VZQQu3SQSRrQZC8gJSMXXw9z9jY4uJv+MPHcTAUaZiku2aCK47HSEvcN19ZmRdeXKPI8eIQ8o+61CEzZ5SIHXdgbG4faHckAmUKe2C3FHjJfDMS+5V5ox20UC1N5VQu655+62dLCjPVx8rc+7giBdlJiK1SNEeAYCN8CWkd+/4pGQOAESt4AQWWPMukF4bRAAAAAElFTkSuQmCC) " Magic Cake (Very Rare)";
  display:inline-block;
  position:absolute;
  white-space:nowrap;
  vertical-align:top;
  margin:0 0 0 100px;
}
